main {
    display: flex;
    flex-direction: column; /* Isso torna os elementos filhos alinhados verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 50vh; /* Isso garante que o conteúdo seja centralizado na altura da janela */
}

body {
    background-image: url('./imagens/img-biblioteca.jpg'); /* Substitua 'caminho-da-imagem.jpg' pelo caminho da sua imagem */
    background-size: cover; /* Isso faz com que a imagem cubra todo o fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* Fixa a imagem no lugar, se desejar um efeito de paralaxe */
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 150px;
    text-shadow: 3px 3px 10px rgb(0, 17, 255); /* Cor da sombra: preta com 50% de transparência */
    height: 100px;
    width: 350px;
    background-color: #0000006e;
    border: rgb(0, 17, 255) solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-section {
    display: flex;
    height: 350px;
    width: 1250px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.main-section-link {
    height: 200px;
    width: 350px;
    display: flex;
    margin: 3px;
    color: white;
    border: rgb(255, 255, 255) solid 2px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-shadow: 4px 4px 15px rgb(255, 255, 255);
    border-radius: -3px;
    font-size: 20px;
    background-color: #0000006e;
    background-attachment: fixed;
    background-size: 80%;
}

.main-section-link:hover{
    font-size: 24px;
}

